a,a:visited{color:#222;text-decoration:none;outline:none;}
a:hover{color:#f60;}
a:active{color:#666;}
#top{border-bottom:4px solid #de7300;background:#fff url(../../../images/new_esales.png) left -550px repeat-x;overflow:hidden;height:54px;_zoom:1;}
#topcolumn{position:relative;z-index:0;}
#logo-area a{width:170px;background:url(../../../images/newlogo.png) 10px 3px no-repeat;text-indent:-9999px;height:37px;}
.paneltoolbar{padding-right:10px;overflow:hidden;}
.paneltoolbar li,.paneltoolbar span{line-height: 19px;}
#prosearch{margin-left:-5px;}
span.shrink,span.toolaction,span.backhome{position:absolute;top:31px;z-index:91;overflow:hidden;_zoom:1;right:5px;width:27px;height:21px;}
span.shrink{left:190px;}
span.shrink a,span.toolaction a,span.backhome a{display:block;background:url(../../../images/new-esales-but.png) -166px top no-repeat;width:27px;height:21px;text-indent:-9999px;}
span.toolaction a:hover{background-position:-201px top;}
span.toolaction a:active{background-position:-236px top;}
span.shrink a{background-position:-55px top;width:23px;}
span.shrink a:hover{background-position:-27px top;}
span.shrink a:active{background-position:0px top;}
span.shrink-back a{background-position:-82px top;}
span.shrink-back a:hover{background-position:-110px top;}
span.shrink-back a:active{background-position:-137px top;}
span.backhome{left: 220px;}
span.backhome a{background-position: -272px top;width:23px;}
span.backhome a:hover{background-position:-300px top;}
span.backhome a:active{background-position:-327px top;}
.paneltoobar li a,.paneltoobar li a span{cursor:pointer;}
.category{margin:-28px 0 0 0;*position:absolute;*z-index:90;_zoom:1;}
.category ul,
#proname ul{overflow:hidden;_zoom:1;}
.category ul li,
#proname ul li,
.searchbar ul li{float:left;margin:0 5px;display:inline;}
.category ul li a{padding:0px 12px;display:block;color:#333;font-weight:bold;line-height:24px;height:24px;_float:left;_zoom:1;}
.category ul li.action{color:#f60;}
.category ul li.over{color:#666;}
.category ul li.current{background:url(../../../images/new_esales.png) right -171px no-repeat;}
.category ul li.current a{background:url(../../../images/new_esales.png) -246px -200px no-repeat;color:#f1f1f1;cursor:text;}
.mainnavback,
.searchbar{padding:5px 10px;background:#de7300;overflow:hidden;_zoom:1;}
.searchbar{margin-bottom:5px;}
#proname{padding:0 10px;}
#proname ul{padding:5px;background:#f7f7f7;}
#proname ul li{width:150px;}
#proname ul li a{padding:3px;border:1px solid #f7f7f7;display:block;}
#proname ul li a:hover{border:1px solid #f1f1f1;background:#f1f1f1;}
.searchbar input{border:none;vertical-align:middle;}
.searchbar .inputtext{float:left;margin:0 0 0 8px;padding:6px 5px 0;width:249px;background:url(../../../images/searchbar.png) left top no-repeat;height:20px;}
.searchbar .inputtext-submit{float:left;width:42px;display:block;background:url(../../../images/searchbar.png) -267px top no-repeat;text-indent:-9999px;height:26px;}
.searchbar .inputtext-submit:hover{background-position:-321px top;}
.searchbar .inputtext-submit:active{background-position:-380px top;}
.searchbar .but-add{width:20px;display:block;background:url(../../../images/searchbar.png) -482px -3px no-repeat;text-indent:-9999px;height:20px;}
.searchbar .but-add:hover{background-position:-456px -3px;}
.searchbar .but-add:active{background-position:-429px -3px;}
.searchbar .keyword{float:right;}
.searchbar .keyword a{color:#330;}
.searchbar .keyword a:hover{color:#fc0;}
.searchbar .keyword a:active{color:#333;}
.searchbar .zm{clear:left;padding:10px 10px 0px;display:block;*padding:5px 10px 0px;}
.searchbar .zm li{margin:3px;}
.searchbar .zm li a{border:1px solid #e7a311;width:20px;display:block;color:#f6c83b;font-weight:bold;font-family:Arial,Helvetica,sans-serif;text-align:center;line-height:20px;}
.searchbar .zm li a:hover{border-color:#e6e62f;background:#e7a311;color:#ffff66;font-size:14px;}
.searchbar .zm li a:active{border-color:#d5be20;background:#cc6600;color:#e7a311;font-size:12px;}
.searchbar .zm li a.current{border-color:#e6e62f;background:#ffff66;color:#de7500;font-size:16px;cursor:text;}
/* side */
.buttd{width:8px;background:url(../../../images/newesales_12.png) 0 top repeat-y;}
.buttd a{width:7px;display:block;background:url(../../../images/sidearrow.png) left top no-repeat;text-indent:-9999px;position:fixed;top:300px;left:220px;height:70px;_position:relative;_left:0px;}
.buttd a:hover{background-position:left -83px;}
.buttd a:active{background-position:left -165px;}
.buttd.over a{background-position:-13px top;left:0px;}
.buttd.over a:hover{background-position:-13px -83px;}
.buttd.over a:active{background-position:-13px -165px;}
.sideblock .formul label{width:85px!important;}
.sideblock .formul li.label{padding-left:70px;}
.severs label{* padding-top:3px;padding:0px;width:70px;float:left;text-align:right;}
.severs img{vertical-align:middle;}
.sideblock h3{padding:5px 15px;color:#e53000;}
.sidemenu{list-style:none;}
.sidemenu li{border-bottom:dotted 1px #e4e4e4;padding:3px 0 3px 20px;}
.sidemenu li a{display:block;color:#333;line-height:22px;}
.sidemenu li a span{color:#f60;}
.sidemenu li a:hover{color:#F60;}
.sidemenu li a:hover span{color:#a0e816;font-weight:bold;text-decoration:none;}
.sidemenu li a:active{color:#999;}
.sidemenu li.current{position:relative;}
.sidemenu li del{width:7px;display:block;background:url(../../../images/arrow1.gif) right center no-repeat;text-indent:-9999px;position:absolute;top:10px;right:5px;height:7px;_top:5px;}
.sidemenu li.current a,
.sidemenu li.current a:visited,
.sidemenu li.current a:hover,
.sidemenu li.current a:active{font-weight:bold;color:#f60;}
#sidecolumn h2{background:url(../../../images/new_esales.png) right -234px no-repeat;height:38px;overflow:hidden;_zoom:1;}
#sidecolumn h2 span{float:left;padding:10px 0 2px 38px;background:url(../../../images/new_esales.png) -208px -297px no-repeat;}
#sidecolumn h2.member{background:url(../../../images/new_esales.png) right -348px no-repeat;}
#sidecolumn h2.member span{padding:10px 0 2px 30px;background:url(../../../images/new_esales.png) -226px -400px no-repeat;}
#sidecolumn h2 cite{float:right;padding:7px 10px;}
.sidemenu li.transverse{overflow:hidden;_zoom:1;}
.sidemenu li.transverse a,.sidemenu li.transverse span{float:left;}
#sidecolumn .formul label{padding:0;}
/* form */
.formultitle {padding-bottom: 5px;color: #333;}
button.small{margin:0 5px;padding:0 22px 0 38px;*padding:0 10px 0 25px;background:url(../../../images/new_esales.png) left -397px no-repeat;border:none;height:26px;vertical-align: middle;line-height:26px;font-size:14px;color:#63c425;font-weight:bold;cursor:pointer;}
/* home */
#prosearch{padding-left:227px;padding-left:0px;}
#main-left{float:left;width:100%;}
#main-content{margin-right:290px;}
#main-right{float:left;width:270px;margin-left:-280px;overflow:hidden;}
.news-list{border:1px solid #d1d1d1;overflow:hidden;_zoom:1;clear:left;}
.news-list ul{padding:5px;overflow:hidden;_zoom:1;}
.news-list ul li{padding:5px 10px;border-bottom:dotted 1px #d1d1d1;}
.news-list ul li cite {font-size:10px; font-family: Arial, Helvetica, sans-serif;}
.icon ul li{padding:5px 10px 5px 15px;background:url(../../../images/pub_dot.gif) 5px center no-repeat;}
.news-list ul li span.sales-up,.news-list ul li span.sales-down{display:inline-block;*zoom:1;*display:inline;margin-right:7px;vertical-align:middle;width:10px;height:10px;background:url(../../../images/icon-sales.gif) left top no-repeat;}
.news-list ul li span.sales-down{background-position:left bottom;}
/* safe */
.safe h3{background:url(../../../images/new_esales.png) right -234px no-repeat;height:38px;overflow:hidden;_zoom:1;}
.safe h3 span{float:left;padding:7px 0 0 38px;background:url(../../../images/new_esales.png) -208px -297px no-repeat;}
/* spread formul */
.spread{padding:5px 0;border:1px solid #ccc;}
.spread li label{width:100px;}
/* content right */
.tab-back{margin-top:13px;border:1px #fea448 solid;border-width:0 1px;background:url(../../../images/new_esales.png) left -138px repeat-x;height:27px;visibility:visible;}
.cz-tab{float:left;margin-top:-4px;margin-left:-1px;overflow:hidden;_position:relative;_z-index:10;*zoom:1;}
.cz-tab li{float:left;margin-top:4px;}
.cz-tab li a{padding:7px 15px;display:block;}
.cz-tab li.current{position: relative;bottom:-1px;margin-top:1px;background:url(../../../images/new_esales.png) right -65px no-repeat;}
.cz-tab li.current a{padding:8px 15px 7px;background:url(../../../images/new_esales.png) -245px -99px no-repeat;color:#f60;font-weight:bold;cursor:text;}
.mid_border{border:1px #fea448 solid;border-top:none;}
#cz_mobile .formul li label{width:80px;}
#cz_game,#cz_gold{display:none;}
#cz_game .formul li label{width:auto;}
#cz_game ul li{padding:8px 12px;}
#cz_game ul li .cz{white-space:nowrap;}
#cz_game select{margin:8px 12px;width:245px;* width:243px;line-height:25px;height:25px;}
#cz_mobile .formul,#cz_game .formul{padding:8px 5px;}
#cz_gold .formul{padding:8px 15px;}
#cz_gold ul li a,#cz_game ul li a{padding:0 5px; color:#f60;}
#footer{background:url(../../../images/bottom_bg.gif) left top repeat-x;clear:left;}
.f-left{float:left;vertical-align:middle;}
.boxrl{padding:0 5px;}
.boxtop{padding-top:3px;}
.boxleft220{padding-left:220px;}
.safe h3{background:url(../../../images/new_esales2.png) right top no-repeat;}
.safe .formul li{padding:2px 0;}
.safe .formul li label{padding:0;}
.head{position:relative;bottom:-1px;overflow:hidden;_zoom:1;}
.head span.action{padding:5px 15px 0;font-size:12px;}
.news-list .t_red strong{color:#d91010;}
/* content */
#main-content h2,h1{float:left;}
#main-content h2 span,#main-content h2,h1,h1 span{background:url(../../../images/new_esales.png) right 0 no-repeat;}
#main-content h2 span,h1 span{padding:4px 15px;font-size:12px;line-height:18px;display:block;background-position:-244px -31px;color:#ff4500;}
h1{position:relative;bottom:-1px;padding:0;line-height:29px;height:29px;border:none;clear:both;}
h1 span{padding:0px 15px;line-height:29px;}
h4{font-size: 12px;}
.blockcommon,.blockremark,.blockwarn,.blocknote,#pages{-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #ccc;}
.blocknote{color: #666;}
/* table */
.tablelist{border-collapse:collapse;collspacing:0px;border:1px solid #ccc;}
.tablelist tr th,.tablelist tr td{border:1px solid #ccc;border-width:0px 1px 1px 0px;}
.tablelist tr th{background:#eaf2f7!important;font-weight:normal;color:#000;}
.tablelist tr td{padding:3px;}
.tablelist .over td{background:#ffcc99;}
.del,.del span,.other,.other span,.save,.save span {margin:0 2px;padding:2px;color:#f60;cursor:pointer;font-size:12px;}
.toolabut{border: none;margin-top:5px;padding-top:0;padding-bottom:0;}
.toolabut a,.toolabut a span{float:left;background:url(../../../images/new_esales.png) right -446px no-repeat;height:20px;line-height:20px;cursor:pointer;}
.toolabut a{margin:2px 5px;}
.toolabut a span{padding:0 10px 0 22px;background-position:0 -275px;}
#tab-div{margin-top:-11px;}
#tab{position:relative;bottom:-11px;height:31px;overflow:hidden;_zoom:1;font-weight:bold;}
#tab li:first-child{margin-left:3px;}
#tab li{float:left;min-width:120px;text-align:center;}
#tab li a,#tab li a span{float:left;padding:0 10px;line-height:30px;height:30px;cursor:pointer;}
#tab li.current{margin-top:1px;background:url(../../../images/newesales_tab.png) right top no-repeat;}
#tab li.current a{color:#ff4500;background:url(../../../images/newesales_tab.png) -216px -32px no-repeat;}
#tab-qq{position:relative;bottom:-10px;overflow:hidden;_zoom:1;font-weight:bold;}
#tab-qq li{float:left;min-width:120px;width:170px\9;margin:1px;border: 1px solid #eee!important;}
#tab-qq li a,#tab-qq li a span{display:block;_float:left;width:170px\9;line-height:25px;height:25px;cursor:pointer;text-align:center;}
#tab-qq li.current{background: #fff6ec;color: #f60; border: 1px solid #fcc;}
#tab-qq li.current a{color: #f60;text-align:center;}
/* pages */
#pages{margin:0;padding:5px 20px;border: none;}
#pages .pagination a,#pages .pagination span{margin:0 2px;padding:2px 6px;text-align:center;color:#666;border:1px solid #feab62;}
#pages .pagination a:hover{color:#000; border-color: #f60;}
#pages .pagination a:active{color:#000;}
#pages .pagination .prev,#pages .pagination .next{border:1px solid #feab62;}
#pages .pagination .prev:hover,#pages .pagination .next:hover{border-color: #f60;}
#pages .pagination .prev:active,#pages .pagination .next:active{background: #666;border-color: #333;color: #f7f7f7;}
#pages .pagination .current{background: #f60;border:1px solid #f60;color:#f7f7f7;font-weight:bold;}
#pages .pagination .current.prev,#pages .pagination .current.next{color:#ccc;background: none;border:1px solid #ccc;}
#logo-area{float:left;}
#logo-area a{width:233px;display:block;text-indent:-9999px;height:44px;}
#mainbody{margin-left:227px;margin-left:0px;}
#mainwrapper{float:left;width:100%;}
#sidecolumn{margin:3px 0px 3px 3px;padding:1px;}
#sidewrapper{float:left;margin-left:-100%;width:220px;}
#topcolumn{padding:0 10px;display:inline-table;height:60px;overflow:auto;}
#footer{clear:both;padding:5px;overflow:hidden;_zoom:1;}
#footer div.copyright{float:right;text-decoration:none;}
#footer div.copyright{padding:5px 10px;color:#666;}
.subnav {padding: 3px 10px 15px;}
.subnav a {padding: 2px 7px;}
.subnav a.now {background: #f60;color: #f7f7f7;}
#lightImg img,#imgPanel img,#viewimg img{margin: 5px;padding: 3px;border: 1px solid #f60;}
.new{padding:0 35px 0 0;background:url(../../../images/icon-new.png) right 2px no-repeat;color:#c00;font-weight:bold;}
.neice{padding:0 35px 0 0;background:url(../../../images/gongce.png) right 2px no-repeat;color:#c00;font-weight:bold;}
a.neice + del {display:none;}
.new:hover{color:#f60;}
.blocknote {padding-left: 34px;text-indent: -24px;line-height: 20px;}
.blocknote.caption {padding-left: 60px;text-indent: -50px;}
#Layer_xing_sheng label{width: auto;text-align:left;float:none;}
/* windows */
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}
.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
	font-weight: bold;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}
#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}
#TB_ajaxContent.TB_modal{
	padding:15px;
}
#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}
#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
ul.price-ex {
	float: right;
}
ul.price-ex li {
	float: left;
	position: relative;
	padding: 0 10px 0 15px;
}
ul.price-ex li s {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #333;
}
ul.price-ex li s.one {
	background: #fff;	
}
ul.price-ex li s.two {
	background: #eee8aa;	
}
ul.price-ex li b {
	display: block;
	position: absolute;
	left: 5px;
	top: 4px;
	background: url(../../../images/icon.png) -266px -236px no-repeat;
	width: 8px;
	height: 8px;
	cursor: pointer;
}
.closebut {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	background: url(../../../images/icon.png) -260px -199px no-repeat;
	width: 18px;
	height: 18px;
}
.closebut:hover {
	background-position: -260px -130px;
}
.closebut:active {
	background-position: -260px -164px;
}

/* lottery */
#showresult li {
	margin: 5px;
	padding: 0;
	background: url(../../../images/ball_red.gif) left top no-repeat;
	width: 32px;
	height: 32px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
}
#showresult li.sball_blue {
	background: url(../../../images/ball_blue.gif) left top no-repeat;
}
.redarea {
	float: left;
	width: 65%;
	border: 1px solid #f2c3c3;
	background: #fff1f1;
}
.redarea ul,
.bluearea ul {
	padding: 10px;
	overflow: hidden;
	_zoom: 1;
}
.redarea ul li,
.bluearea ul li {
	float: left;
	margin: 5px;
	background: url(../../../images/ball_grey.gif) left top no-repeat;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
}
.redarea ul li:hover {
	background: url(../../../images/ball_grey.gif) left top no-repeat;
}
.redarea ul li.none {
	display: none;
}
.redarea ul li.li_red {
	background: url(../../../images/ball_lred.gif) left top no-repeat;
	color: #fff;
	font-weight: bold;
}
.blueballarea {
	float: left;
	margin-right: -2px;
	width: 35%;
	overflow: hidden;
	_zoom: 1;
}
.bluearea {
	margin: 0 3px 0 10px;
	border: 1px solid #b1cdea;
	background: #dff3ff;
	overflow: hidden;
	_zoom: 1;
}
.bluearea ul li.li_blue {
	background: url(../../../images/ball_blue_s.gif) left top no-repeat;
	color: #fff;
	font-weight: bold;
}
.redarea h6,.bluearea h6 {
	padding: 5px 10px;
	line-height: 25px;
	overflow: hidden;
}
.listbox select.ballnum {
	float: left;
	margin-left: 100px;
	width: 400px;
	height: 200px;
}
.listbox ul {
	float: left;
	padding: 10px;
	overflow: hidden;
	_zoom: 1;
}
input.disabled {
	border: none;
	background: transparent;
}
.zjcententarea {
	float: right;
}
.zjcententarea + ul {
	float: left;
}
@media all and (min-width: 0px){ .zjcententarea + ul{width: 400px;} } 
.zjcentent table {
	width: 200px;
}
.zjcentent table th,
.zjcentent table td {
	padding: 3px 0;
	width: 100px;
}
.lottery-2-nav {
	margin: 10px 0 0 10px;
	overflow: hidden;
	_zoom: 1;
}
.lottery-2-nav li {
	float: left;
	margin: 0 2px;
}
.lottery-2-nav li a {
	display: block;
	_float: left;
	background: url(../../../images/3tiltbg_out.gif) left top no-repeat;
	border: 1px solid #ccc;
	width: 94px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
.lottery-2-nav li a.current {
	background: url(../../../images/3tiltbg_over.gif) left top no-repeat;
	border-color: #ff6600;
	font-weight: bold;
	color: #fff;
}
.lottery-subnav {
	display: block;
	margin: 0 -10px;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
}
.lottery-subnav li {
	position: relative;
	z-index: 100;
	float: left;
	margin-right: -1px;
	width: 72px;
	height: 26px;
}
.lottery-subnav li a {
	display: block;
	_float: left;
	background: #f1f1f1;
	border: 1px solid #ccc;
	border-bottom: none;
	width: 70px;
	text-align: center;
	line-height: 25px;
}
.span3border {
	position: absolute;
	margin-bottom: -1px;
	background: #fff!important;
	color: #ff6600!important;
	line-height: 26px!important;
	font-weight: bold;
}
.ballarea {
	position: relative;
	clear: left;
	padding: 10px 0 10px 70px;
	overflow: hidden;
	_zoom: 1;
}
.ballarea s {
	position: absolute;
	display: block;
	left: 0;
	top: 16px;
	background: url(../../../images/bsgnum.gif) left top no-repeat;
	height: 23px;
	width: 60px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 23px;
}
.ballarea dd {
	float: right;
	overflow: hidden;
	_zoom: 1;
}
.ballarea dt {
	float: left;
	overflow: hidden;
	_zoom: 1;
}
.ballarea dd b {
	float: left;
	margin: 5px;
	width: 26px;
	height: 26px;
	line-height:26px;
	background-image:url(../../../images/ball_lgrey.gif);
	text-align: center;
	cursor: pointer;
}
.ballinput input,.ballarea dt input {
	float: left;
	margin: 5px;
	background:url(../../../images/ball_lgrey.gif) left top no-repeat;
	border: 0;
	width:26px;
	height:26px;
	line-height:26px;
	font-weight: bold;
	cursor: pointer;
}
.ballinput {
	clear: both;
	display: block;
	padding: 20px 0;
}
.choosearea {
	clear: left;
	padding: 0 10px;
}
.redball {
	background:url(../../../images/ball_lred.gif) no-repeat!important;
	color: #fff;
	font-size:14px;
}
.selecttool li {
	padding: 5px;
}
.selecttool li a {
	display: block;
	background: url(../../../images/botton_out.gif) left top no-repeat;
	width: 79px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}
.selecttool li a:hover {
	background: url(../../../images/botton_over.gif) left top no-repeat;
}
#showresult b {
	float: left;
	margin: 5px;
	background:url(../../../images/ball_red.gif) no-repeat;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
}
#showlogin4 {
	margin: 10px 60px 0;
	display: block;
	background:url(../../../images/kjzs.gif) no-repeat;
	width: 91px;
	height: 30px;
	text-indent: -9999px;
}
.navme { display:none;}
.over { background:#000000;}
.over div { position:relative;}
.over .navme { background:#FFF7EC; border:1px solid #DDC29B; display:block; position:absolute; z-index:9999; position:absolute;
left:0; *margin-top:20px; padding:5px; width:150px; }
.tcenter { text-align:center;}