 .tab{
background-color:#FFF5EE;
width:270px;margin-top:10px;
height:200px;float:right;
}

.header{
height:20px;margin-top:10px;
width:100%;
}

.content{
border:1pxsolid#CCCCFF;
border-top:none;
height:180px;
}

.liStyle{
cursor:pointer;
height:20px;
width:66px;
-width:61px;
float:left;
background-color:white;
}

.show{
background-color:#FFF5EE;
border:1pxsolid#CCCCFF;
border-bottom:none;
}

.hide{
background-color:white;
border-bottom:1pxsolid#CCCCFF;
}

.ulHide{
display:none;
}

.ulShow{
display:block;
}

ul{
list-style:noneoutsidenone;
}

*{
margin:0;
padding:0;
}
.ulShowli{margin:10px;}
.ulShowliselect{width:80px;}
