/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins,del {text-decoration: none;}
table {border-collapse: collapse;border-spacing: 0;}
body{font:12px Tahoma,Helvetica,Arial,Simsun,sans-serif;color:#333;}
h1, h2, h3, h4, h5, h6 {font-family: "Microsoft YaHei","Times New Roman", Times, serif;}
cite,.fontspecial{font-family: Georgia, "Times New Roman", Times, serif;}
pre {font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;}
a,a:visited{color:#1a1a1a;text-decoration:none;outline:none;}
a:hover{color:#f60;}
a:active{color:#666;}
/* clear */
.clearfix:after,.topwrapper:after,.topcolumn:after, .sideblock:after, .head:after,#footer:after,.channelone:after,.blockcommon:after,.block:after,.blockwarn:after,.blockremark:after,.tabletoolbar:after,#pages:after,#tab:after,.tab:after,.subnav:after,.formul:after,.formul li:after,.formul li .common:after,.formul li .common li:after,.form:after,.form li:after,.form li .common:after,.form li .common li:after, .transverse:after, .vertical:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden;}
.clearfix,.topwrapper,.topcolumn, .sideblock, .head,#footer,.channelone,.blockcommon,.block,.blockwarn,.blockremark,.tabletoolbar,#pages,#tab,.tab,.subnav, .formul, .formul li,.formul li .common,.formul li .common li, .form, .form li,.form li .common,.form li .common li, .transverse, .vertical {*zoom:1;clear:left;}
/* layout */
.mainwrapper{float:left;width:100%;}
.sidewrapper{float:left;margin-left:-100%;width:200px;}
.maincolumn{margin-left:210px;}
.threewrapper {float: left;margin-left: -250px;width: 250px;}
#footer{clear:left;width: 100%;}
/* top */
.topcolumn{padding:0 10px;height:66px;}
#logoarea{float:left;}
#logoarea a{display:block;text-indent:-9999px;}
.paneltoolbar{float:right;overflow:auto;_zoom: 1;}
.paneltoolbar li{float:left;}
.paneltoolbar a,.paneltoolbar a span{display:block;_float: left; height: 20px;line-height: 19px;line-height: 20px\9;cursor:pointer;}
/* side */
.sidecolumn .head h3,.sidecolumn .head h3 span{float:left;}
.sidemenu li a{display:block;}
.sidemenu li a:hover,.sidemenu li a:hover span{text-decoration:none;}
/* content */
.blockcommon,.block, .blockwarn, .blockremark,.tabletoolbar, blockquote{padding:10px;}
h1{padding:5px 10px;font-size:18px;}
h4{padding:10px;font-size: 14px;}
samp,em,strong{padding:0 5px;}
em{color:#d91010;}
strong{font-weight:bold;}
.note{padding:0 10px;}
.error,.fail,.red{color:#d91010;}
.warn{color:#df0a0a;}
.success,.green{color:#4cc606;}
.orange{color:#ffc000;}
.blue{color:#21a2e5;}
.gray{color:#6d6d6d;}
.smoke{color:#222;}
.oatmeal{color:#ccc;}
.redback,.greenback,.orangeback,.blueback{margin:0 5px;padding:2px 5px;color:#f1f1f1;}
.redback{background:#d91010;}
.greenback{background:#56cc13;}
.orangeback{background:#ffc000;}
.blueback{background:#21a2e5;}
/* table */
.tablelist{clear:left;margin-top: 10px;background:#bbd9e5;width:100%;border:1px solid #bbd9e5;line-height:1.8;vertical-align: middle;}
.tablelist tr th{padding:3px 5px;background:#e7f3f7;text-align:center;border-right:1px solid #f4f9fb;color:#222;font-weight:bold;}
.tablelist td{padding:3px 5px;background:#fff;vertical-align: middle;border-right:1px solid #f4f9fb;}
.tablelist tr th:last-child,.tablelist tr td:last-child {border-right: none;}
.tablelist tr th.last,.tablelist tr td.last {border-right: none;}
.tablelist tr.even td{background:#f7f7f7;}
.tablelist tr.hover td{background:#f0f5f8!important;}
.tablelist tr.null td{background:#f1f1f1!important;}
.tablelist tr.null td a{color:#333;}
.tablelist tr.null td .blue,.tablelist tr.null td .orange,.tablelist tr.null td .red,.tablelist tr.null td .green{color:#555;}
.actions {display:-moz-inline-stack;display:inline-block;zoom: 1;*display: inline;position: relative;z-index: 1;}
.action {display:-moz-inline-stack;display:inline-block;zoom: 1;*display: inline;margin: 0 3px 0 0;}
.showicon .action {background:url(../../../images/commonicon.png) no-repeat;height:18px;width: 18px;text-indent:-9999px;*text-indent:0;font-size:0;_letter-spacing:-180px;vertical-align: middle;}
.icon {display:-moz-inline-stack;display:inline-block;zoom: 1;*display: inline;background:url(../../../images/commonicon.png) no-repeat;height:18px;width: 18px;line-height:0;text-indent:-9999px;*text-indent:0;font-size:0;_letter-spacing:-180px;vertical-align: middle;}
.m {width: 39px;_width:18px;}
.showicon a.edit,.showicon a.edit:visited {background-position: -579px -58px;}
.showicon a.edit:hover {background-position: -608px -58px;}
.showicon a.edit:active {background-position: -637px -58px;}
.showicon a.del,.showicon a.del:visited {background-position: -579px -29px;}
.showicon a.del:hover {background-position: -608px -29px;}
.showicon a.del:active {background-position: -637px -29px;}
.showicon a.detail {background-position: -579px -1px;}
.showicon a.detail:hover {background-position: -608px -1px;}
.showicon a.detail:active {background-position: -637px -1px;}
.showicon a.save,.showicon a.save:visited {background-position: -579px -86px;}
.showicon a.save:hover {background-position: -608px -86px;}
.showicon a.save:active {background-position: -637px -86px;}
.showicon a.stop,.showicon a.stop:visited {background-position: -579px -116px;}
.showicon a.stop:hover {background-position: -608px -116px;}
.showicon a.stop:active {background-position: -637px -116px;}
.showicon a.yes,.showicon a.yes:visited {background-position: -579px -148px;}
.showicon a.yes:hover {background-position: -608px -148px;}
.showicon a.yes:active {background-position: -637px -148px;}
.showicon a.not,.showicon a.not:visited {background-position: -497px -256px;}
.showicon a.not:hover {background-position: -524px -256px;}
.showicon a.not:active {background-position: -552px -256px;}
.showicon a.up,.showicon a.up:visited {background-position: -497px -202px;}
.showicon a.up:hover {background-position: -524px -202px;}
.showicon a.up:active {background-position: -552px -202px;}
.showicon a.down,.showicon a.down:visited {background-position: -497px -230px;}
.showicon a.down:hover {background-position: -524px -230px;}
.showicon a.down:active {background-position: -552px -230px;}
.showicon a.browsenote,.showicon a.browsenote:visited {background-position: -579px -281px;}
.showicon a.browsenote:hover {background-position: -608px -281px;}
.showicon a.browsenote:active {background-position: -637px -281px;}
.showicon a.addnote,.showicon a.addnote:visited {background-position: -579px -255px;}
.showicon a.addnote:hover {background-position: -608px -255px;}
.showicon a.addnote:active {background-position: -637px -255px;}
.showicon a.ofmenu {background-position: -497px -1px;}
.showicon a.ofmenu:hover {background-position: -524px -1px;}
.showicon a.ofmenu:active {background-position: -552px -1px;}
.showicon a.cancel,.showicon a.cancel:visited {background-position: -497px -256px;}
.showicon a.cancel:hover {background-position: -524px -256px;}
.showicon a.cancel:active {background-position: -552px -256px;}
.showicon a.set,.showicon a.set:visited {background-position: -579px -175px;}
.showicon a.set:hover {background-position: -608px -256px;}
.showicon a.set:active {background-position: -637px -256px;}
.showicon a.other,.showicon a.other:visited {background-position: -361px -58px;}
.showicon a.other:hover {background-position: -403px -58px;}
.showicon a.other:active {background-position: -444px -58px;}
.showicon a.m.save,.showicon a.m.save:visited {background-position: -361px -86px;_background-position: -579px -86px;}
.showicon a.m.save:hover {background-position: -403px -86px;_background-position: -608px -86px;}
.showicon a.m.save:active {background-position: -444px -86px;_background-position: -637px -86px;}
/* account */
span.accountimg {background-position: -1px -153px;margin-right: 5px;}
span.message {background-position: -38px -258px;width: 22px;margin-right: 5px;}
a.duihuan,a.duihuan:visited {background-position: -12px -76px;}
a.duihuan:hover {background-position: -43px -76px;}
a.duihuan:active {background-position: -74px -76px;}
a.chongzhi,a.chongzhi:visited {background-position: -12px -46px;}
a.chongzhi:hover {background-position: -43px -46px;}
a.chongzhi:active {background-position: -74px -46px;}
a.jiaohuan,a.jiaohuan:visited {background-position: -497px -175px;}
a.jiaohuan:hover {background-position: -524px -175px;}
a.jiaohuan:active {background-position: -552px -175px;}
a.jiaohuan:hover {background-position: -524px -175px;}
a.jiaohuan:active {background-position: -552px -175px;}
a.shangjia,a.shangjia:visited {width: 39px;background-position: -361px -58px;}
a.shangjia:hover {background-position: -403px -58px;}
a.shangjia:active {background-position: -444px -58px;}
/* position div */
.posidiv {display: none;position: absolute;top: 18px;right: 0;padding: 5px;border: 1px solid #bbb;background: #f1f1f1;text-align: left;}
div.ofmenuarea {width: 80px;}
.ofmenu:hover div {display: block;}
div.ofmenuarea a {display: block;}
/* icon span */
span.stop {background-position: -608px -202px;}
span.not {background-position: -637px -202px;}
span.yes,span.open {background-position: -579px -202px;}
.theader {position: relative;z-index: 2;margin-top: 2px;}
.theader ul {display: none;position: absolute;right: 0;top: 23px;z-index: 5;padding: 5px;width: 200px;text-align: left;border: 1px solid #ddd;background: #f3f4f5;font-weight: normal;}
.theader ul li {padding: 3px;}
.theader ul li:hover {background: #fff;}
.theader ul li input {_margin-top: -2px;margin-right: 2px;vertical-align: middle;}
.theader ul li label {cursor: pointer;margin-right: 10px;}
.theader .theaderbtn,.theader .theaderbtn:visited {float: right;background:url(../../../images/commonicon.png) -278px -1px no-repeat;width: 18px;height: 18px;vertical-align: middle;text-indent: -9999px;}
.theader .theaderbtn:hover {background-position: -305px -1px;}
.theader .theaderbtn:active {background-position: -333px -1px;}
.theader .closebtn {display: none;position: absolute;right: 8px;top: 30px;z-index: 6;}
.discontrol,.discontrol li {float: left;}
.discontrol li input {_margin-top: -2px;margin-right: 2px;vertical-align: middle;}
.discontrol li label {cursor: pointer;margin-right: 10px;}
/* win */
.closebtn {background: url(../../../images/commonicon.png) -263px -259px no-repeat;width: 14px;height: 14px;text-indent: -9999px;}
.closebtn:hover {background-position: -295px -284px;}
.closebtn:active {background-position: -263px -284px;}
/*form*/
input,select {vertical-align: middle;}
.formul,.form {line-height: 20px;}
.formul li,.form li {padding:5px 0;vertical-align: middle;}
.formul li label,.form li label {float: left;margin-right: 5px;text-align: right;width: 200px;line-height: 20px;}
ul.formul.short li label,ul.form.short li label {width: 120px;}
.formul li input, .formul li select,.form li input,,.form li select {vertical-align: middle;}
.formul li input.middle,.form li input.middle {width: 120px;height: 16px;_height: 15px;line-height: 16px;border: 1px solid #ccc;}
.formul li input[type="text"],.form li input[type="text"] {width: 120px;_width: 80px;height: 16px;line-height: 16px;border: 1px solid #ccc;}
.formul li select,.form li select {width: 125px;height: 20px;line-height: 20px;border: 1px solid #ccc!important;border: 0 inset buttonface;}
input.short {width: 30px!important;}
select.short {width: 35px!important;}
input.shorter {width: 50px!important;}
select.shorter {width: 55px!important;}
input.middle {width: 120px;}
input.long {width: 260px;}
input.longer {width: 500px;}
select.middle {width: 125px;}
select.long {width: 265px;}
select.longer {width: 505px;}
.formul li .common,.formul li .transverse,.formul li .vertical,.form li .common,.form li .transverse,.form li .vertical {margin-top: -5px;margin-bottom: -5px;}
.formul li .transverse,.formul li .transverse li,.formul li .vertical,
.form li .transverse,.form li .transverse li,.form li .vertical {float: left;clear: none;}
.formul li .transverse li,.formul li .vertical li,
.form li .transverse li,.form li .vertical li {border: none;}
.formul li.label label,.formul li span label,.formul li .transverse li label,.formul li .vertical li label,
.form li.label label,.form li span label,.form li .transverse li label,.form li .vertical li label {float: none;margin:0;padding: 0 10px 0 3px;text-align: left;width: auto;cursor: pointer;}
.formul li.btnarea,.formul li.label,.form li.btnarea,.form li.label {padding-left: 205px;}
.column2 li,.column3 li {clear: none;float: left;margin-right: -1px;width: 50%;}
.column2 li label {width: 120px;}
.column2 li.btnarea,.column2 li.label {padding-left: 130px;}
.column2 li.btnarea,.column3 li.btnarea {clear: left;}
.column3 li {width: 33%;}
.column3 li label {width: 100px;}
.column3 li.label,.column3 li.btnarea {padding-left: 105px;}
.formul li.all,.form li.all {clear: right;float: none;display: block;width: auto;}
.transverse li {float: left;}
.fixedwidth li {width: 120px;}
label.error,label.free{display: none;float:none!important;padding: 0 5px;width:auto!important;}
input.error{padding: 0 5px;border: 1px solid ##d91010;}
.dislocation li {padding-left: 205px;}
.dislocation li ul li {padding-left: 0;}
.dislocation li label {float:none;display:block;width: auto;text-align: left;}
.dislocation li.label label,.dislocation li span label,.dislocation li .transverse li label,.dislocation li .vertical li label {display: inline;}
.btnarea button.bigfour,.btnarea button.bigfour:visited, button.bigfour, button.bigfour:visited {padding-bottom: 0px;background: url(../../../images/commonicon.png) -123px -1px no-repeat;border: none;width: 144px;height: 38px;font-size: 25px;line-height: 33px;font-family: "microsoft YaHei";color: #f1f1f1;cursor: pointer;outline: none;
}/* 为了让BIGFOUR优先 */
.btnarea button.bigfour:hover, button.bigfour:hover {background-position: -123px -51px;color: #fff;}
.btnarea button.bigfour:active, button.bigfour:active {background-position: -123px -101px;color: #666;}
.btnarea button.bigfour.disable,button.bigfour.disable {background-position: -123px -156px;color: #888;cursor: default;}
/* tab */
#tab li,.tab li{float:left;margin:0 2px;}
#tab li a,#tab li a span,.tab li a,.tab li a span{display:block;_float:left;text-align:center;}
.subnav a,.subnav a span {float: left;cursor:pointer;}
/* pages */
#pages{margin-top:10px;padding:5px 10px;}
.pagination{float:right;vertical-align:middle;}
.pagination a,.pagination span{float:left;}
/* common */
.positive {position: relative;z-index: 1;}
.posilute {position: absolute;z-index: 1;}
cite{float:right;}
.tcontent {line-height: 2.5em;}
.pushall,.push{margin: 10px;}
.pusht{margin-top:10px;}
.pushr{margin-right:10px;}
.pushb{margin-bottom:10px;}
.pushl{margin-left:10px;}
.pusho,.nopush{margin:0}
.box{background: #f3f4f5;border: 1px solid #ccc;}
.boxt,.fillt{padding-top:10px;}
.boxr,.fillr{padding-right:10px;}
.boxb,.fillb{padding-bottom:10px;}
.boxl,.fill_l{padding-left:10px;}
.boxo,.nofill{padding:0}
.boxall,.fill{padding: 10px;}
.spaceall {width: 100%;}
.cright{clear: right;}
.cleft{clear: left;}
.clear {clear: both;display:block;}
.cursor{cursor: pointer;}
.left{float: left;}
.right{float: right;}
.disblock{display: block;}
.disnone,.hide{display:none;}
.checkborder {border:1px solid #000;}
.tcenter{text-align:center;}
.tright{text-align: right;}
.tleft{text-align: left;}
.fontmiddle {font-size: 16px;}
.bold {font-weight: bold;}
