body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,s,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
body{font:12px "宋体",arial,helvetica,clean,sans-serif;color:#333;}
table{font-size:inherit;font:100%;width:100%;}
a,a:visited{color:#333;text-decoration:none;outline:none;}
a:hover{color:#f60;}
a:active{color:#666;} 
/* layout */
#mainwrapper{float:left;width:100%;}
#sidewrapper{float:left;margin-left:-100%;width:220px;}
#maincolumn{margin-left:227px;}
#footer{clear:left;}
/* top */
#topcolumn{padding:0 10px;height:66px;overflow:auto;}
#logoarea{float:left;}
#logoarea a{display:block;text-indent:-9999px;}
.paneltoolbar{float:right;overflow:auto;_zoom: 1;}
.paneltoolbar li,.paneltoolbar span{float:left;}
.paneltoolbar a,.paneltoolbar a span{display:block;* float: left; height: 20px;line-height: 19px;line-height: 20px\9;cursor:pointer;}
/* side */
#sidecolumn h2 span,.sideblock h3 span{float:left;}
.sidemenu li a{display:block;}
.sidemenu li a:hover,.sidemenu li a:hover span{text-decoration:none;}
/* content */
.clearfix:after,#topwrapper:after,#footer:after,.blockcommon:after,.blockwarn:after,.blockremark:after,.blocknote:after,#pages:after,.tab:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,#topwrapper,#footer,.blockcommon,.blockwarn,.blockremark,.blocknote,#pages,.tab{*zoom:1;clear:left;}
.blockcommon{padding:10px;border:1px solid #f60;}
.blockwarn{padding:10px;border:1px solid #c00;}
.blockremark{padding:10px;border:1px solid #6f0;}
.blocknote{ position: relative; padding:10px;border:1px solid #ccc;}
h1{padding:5px 10px;font-size:18px;border:1px solid #bbd9e5;background:#f4f9fb;}
h4{padding:10px;font-size: 14px;}
span,em,strong{padding:0 5px;}
em{color:#d91010;}
span.action{float:right;}
span.action input{margin-top:2px;padding:2px 6px;}
strong{font-weight:bold;}
.error,.fail,.red{color:#d91010;}
.success,.green{color:#4cc606;}
.orange{color:#ffc000;}
.blue{color:#21a2e5;}
.gray{color:#6d6d6d;}
.smoke{color:#222;}
.oatmeal{color:#ccc;}
.redback,.greenback,.orangeback,.blueback{margin:0 5px;padding:2px 5px;color:#f1f1f1;}
.redback{background:#d91010;}
.greenback{background:#56cc13;}
.orangeback{background:#ffc000;}
.blueback{background:#21a2e5;}
.warn{font-weight:bold;color:#df0a0a;}
/* table */
.tablelist{clear:left;background:#d7e9f0;line-height:20px;background:#bbd9e5;width:100%;}
table.middle{margin-left: auto;margin-right: auto;width: 80%;}
table.small{margin-left: auto;margin-right: auto;width: 50%;}
.tablelist th{padding:3px 5px;background:#e7f3f7;text-align:center;border:1px solid #f4f9fb;color:#1980a1;font-weight:bold;}
.tablelist td{padding:3px 5px;background:#fff;}
.tablelist .over td{background:#fef7e8;}
.tablelist tr.null td{background:red!important;}
.tablelist tr.null td a{color:#333;}
.tablelist tr.null td .blue,.tablelist tr.null td .orange,.tablelist tr.null td .red,.tablelist tr.null td .green{color:#333;}
/*form*/
.formul:after,.formul li:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.formul,.formul li{*zoom:1;}
.formul li{padding:5px 0;vertical-align：middle}
.formul li span,.formul li strong{padding-top:3px;}
.formul label{* padding-top:3px;float:left;width:200px;text-align:right;}
.formulshort label{width:105px;}
.formullong label{width:248px;}
.column2 li,.column3 li{float:left;width:50%;* margin:0 -1px;}
.column3 li{width:33%;}
.column2 li ul.autoul li,.column3 li ul.autoul li{float:none;width:auto;* margin:0;}
.formul input,.formul select,.formul textarea{margin:0 5px;}
.formul span input,.formul span select,.formul span textarea{margin:0;}
.formul label em{padding:5px;color:Red;}
.formul li.label{padding:5px 0 5px 200px;}
.formulshort li.label{padding-left: 105px;}
.formullong li.label{padding-left: 248px;}
.formul li.center{text-align:center;}
.formultitle{padding:10px 0 0 150px;color:#21a2e5;}
.vertical{float:left;margin:-5px 0;}
.vertical li{display:block;}
.transverse{display:block;padding:0;margin-left: -5px;overflow:hidden;_zoom:1;}
.transverse li{float:left;display:inline;padding-left:10px;}
.labelwidth li{float:left;width:140px;}
.vertical label,.transverse label,.formul span label{width:auto;float:none;}
label.error{width:auto;float:none;display:none;color:#ff9900;padding:0 5px;}
input.error{border:1px solid #ff9900;}
input,select,button{vertical-align:middle;}
button{margin:0 10px 0 5px;margin:0 10px 0 7px\9;padding:3px 15px;font-size:14px;}
button.middle{padding:1px 10px;font-size:14px;}
button.small{padding:0 7px;font-size:12px;_line-height:16px;}
textarea.common{width:226px;height:50px;font-size:12px;}
/* width */
.short{width:50px;}
input.middle{width:180px;}
select.middle{* width:188px;}
.mid-long{width:220px;}
.long{width:300px;}
.tab li{float:left;margin:0 2px;}
.tab li a,.tab li a span{display:block;text-align:center;}
/* note */
.note{padding:0 10px;}
/* pages */
#pages{margin-top:10px;padding:5px 10px;}
.pagination{float:right;vertical-align:middle;}
.pagination a,.pagination span{float:left;}
/* common */
.none{display:none;}
cite{float:right;}
.pushall{margin: 10px;}
.pusht{margin-top:10px;}
.pushr{margin-right:10px;}
.pushb{margin-bottom:10px;}
.pushl{margin-left:10px;}
.pusho{margin: 0!important;}
.boxt{padding-top:10px;}
.boxr{padding-right:10px;}
.boxb{padding-bottom:10px;}
.boxl{padding-left:10px;}
.boxo{padding:0!important;}
.boxall{padding: 10px;}
.spaceall {width: 100%!important;}
.clear-r{
	clear: right;
}
.clear {clear: both;float: none;font-size: 0px;margin: 0;padding: 0;display:block;}
.textcenter{text-align:center;}
.cursor{cursor: pointer;}
.floatleft{float: left;}
.floatright{float: right;}
.disblock{display: block;}
.checkborder {border:1px solid #000;}
