.content .banner {
    float: left;
    height: 198px;
    padding-right: 6px;
    width: 582px;
    padding-right: 5px;
   
}
.content .news {
    float: left;
    height: 198px;
    width: 176.5px;
    margin-left: 1px;
}
.content .news dl{
    position: relative;
    left: 0px;
    top: 0px;
    border: 1px solid #BFBFBF;
    width: 176px;
    height: 166px;
    margin: 0;
    padding: 0;
}
.content .info {
    float: left;
    height: 280px;
    width: 380px;
    padding-top: 5px;
}
.content .info .title {
    background: url("../../images/img0001.png") no-repeat scroll 1px -558px;
    float: left;
    height: 36px;
    line-height: 28px;
    overflow: hidden;
    padding-left: 21px;
    padding-right: 13px;
    width: 347px;
    border-right: 0px solid #A9A9A9;display:block
}
.content .info .title p {
 	display: block;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    font-family: "微软雅黑","Arial Narrow";
  	padding: 0;
 	margin: 0;
}

 
.content .info .title .more {
    background: url("../../images/img0001.png") no-repeat scroll -183px -601px;
    border: 0 none;
    cursor: pointer;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 43px;
    float: right;
    margin-top: 5px;
}
/*消息中心*/
.content .info dl {
    border-bottom: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    float: left;
    margin-left: 1px;
    height: 241px;
    width: 378px;
    position: relative;
    top: -10px;
}
.content .news .title {
    color: #94381E;
    height: 32px;
    line-height: 32px;
    padding-left: 34px;
    width: 146px;
    overflow: hidden;
    background:url(../../images/img0001.png)  scroll 0px -599px;
}
.content .news .title p {
    float: left;
    font-size: 14px;
    font-weight: 700;
    font-family: "微软雅黑","Arial Narrow";
    height: 32px;
    line-height: 32px;
    width: 60px;
    margin-top: 1px;
}
.content .news .title a {
    float: right;
    height: 17px;
    line-height: 17px;
    margin-right: 10px;
    margin-top: 10px;
    width: 45px;
    text-decoration:none;
}
.news .title .more{
   background: url("../../images/img0001.png") no-repeat scroll -183px -601px;
    border: 0 none;
    cursor: pointer;
    height: 18px;
    margin-right: 3px;
    width: 43px;
    float: right;	
}