<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring   
  http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd">

	<!-- 启用spring mvc 注解 -->
    <context:annotation-config />
    
	<context:component-scan base-package="com.erp.core" />
	<!-- 支持aop注解 -->
	<aop:aspectj-autoproxy />
	
	
	<context:property-placeholder location="classpath:/hibernate.properties" />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClassName" value="${dataSource.driverClassName}" />
		<property name="url" value="${dataSource.url}" />
		<property name="username" value="${dataSource.username}" />
		<property name="password" value="${dataSource.password}" />
		 <!-- Connection Pooling Info -->
		  <property name="maxActive" value="${db_maxActive}" />
		  <property name="maxIdle" value="${db_maxIdle}" />
		  <property name="maxWait" value="${db_maxWait}" />
		    <property name="timeBetweenEvictionRunsMillis" value="${db_timeBetweenEvictionRunsMillis}" />
		  <property name= "minEvictableIdleTimeMillis" value="${db_minEvictableIdleTimeMillis}" />
		  
		</bean>
	
	 	<!-- <property name="configLocation" value="classpath:hibernate.cfg.xml"></property> -->
	<bean id="sessionFactory"
			class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
	  	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${dataSource.dialect}</prop>
				<prop key="hibernate.show_sql">${dataSource.show_sql}</prop>
			</props>
		</property>  
	 	<property name="packagesToScan">
			<list>
				<value>com.erp.core.model</value><!--  扫描实体类，也就是平时所说的model  -->
				<value>com.erp.security.entity</value> 
			</list>
		</property> 
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置事务管理 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<aop:config>
		<aop:pointcut expression="(execution(* com.erp.core.service.impl.*.*(..)))"
			id="businessService" />		
		<aop:advisor advice-ref="txAdvice" pointcut-ref="businessService" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- get开头的方法不需要在事务中运行 。 有些情况是没有必要使用事务的，比如获取数据。开启事务本身对性能是有一定的影响的 -->
			<tx:method name="find*" read-only="true" propagation="NOT_SUPPORTED" />
			<tx:method name="get*"  read-only="true"  propagation="NOT_SUPPORTED" />
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="creat*" propagation="REQUIRED"/>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="execute*" propagation="REQUIRED"/>
			<tx:method name="query*"  propagation="REQUIRED"/>
			<tx:method name="bulk*" propagation="REQUIRED"/>
			<tx:method name="supply*" propagation="REQUIRED"/>
			<tx:method name="*"   propagation="REQUIRED"/>
			
		</tx:attributes>
	</tx:advice>
	
	<!-- Spring 3.0.5 MVC 基于注解ehcache.xml 配置 start-->
	<ehcache:annotation-driven cache-manager="ehCacheManager" /> 
 
 	<bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
       <property name="configLocation" value="classpath:ehcache.xml" />  
   </bean> 
   
      <bean id="spingLoadListener" class="com.erp.core.web.listener.SpingLoadListener" />
   
	<!-- ehcache.xml 配置      end -->
	<!-- ||(execution(* com.erp.vgms.service.impl.*.*(..))) -->
	</beans>
	