body,td,th,div{
	font-size: 9pt;word-break:break-all;
	line-height: 150%;
}
.logininput{
    BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid;
}
a:link{text-decoration: none;color: #000000;}
a:visited{text-decoration: none;color: #000000;}
a:hover{text-decoration: none;color: #000000;}
a:active{text-decoration: none;color: #000000;}
a.1:link       { FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: none }
a.1:visited    { FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: none }
a.1:hover      { FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: underline }
a.2:link       { FONT-SIZE: 12px; color: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: none }
a.2:visited    { FONT-SIZE: 12px; color: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: none }
a.2:hover      { FONT-SIZE: 12px; color: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: underline }
a.3:link       { FONT-SIZE: 12px; COLOR: #1C9295; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: none }
a.3:visited    { FONT-SIZE: 12px; COLOR: #1C9295; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: none }
a.3:hover      { FONT-SIZE: 12px; COLOR: #1C9295; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; text-decoration: underline }
a.4:link       { FONT-SIZE: 12px; COLOR: #123881; FONT-FAMILY: "宋体"; text-decoration: none }
a.4:visited    { FONT-SIZE: 12px; COLOR: #123881; FONT-FAMILY: "宋体"; text-decoration: none }
a.4:hover      { FONT-SIZE: 12px; COLOR: #123881; FONT-FAMILY: "宋体"; text-decoration: underline }
a.5:link       { FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: "宋体"; text-decoration: none }
a.5:visited    { FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: "宋体"; text-decoration: none }
a.5:hover      { FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: "宋体"; text-decoration: underline }
.navPoint{COLOR: white; CURSOR: hand; FONT-FAMILY: Webdings; FONT-SIZE: 9pt}
.sorttitle {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #f7f7f7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #f7f7f7 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #bbbbbb 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #eeeeee
}